<!-- 
<div id="full_page">
    <div class="container">
        <h4>Enter order details</h4>
<hr>
    <span class="p-float-label">
        <p-calendar inputId="birth_date"></p-calendar>
        <label for="birth_date">Order date</label>
        </span>
    <br>
    <span class="p-float-label">
        <p-calendar inputId="birth_date"></p-calendar>
        <label for="username">Delivery required date</label>
    </span>
    <br>
    <span class="p-float-label">
        <p-calendar inputId="birth_date"></p-calendar>
        <label for="username">Produce by</label>
    </span>
    <br>
    <span class="p-float-label">
        <input pInputText id="username"/>
        <label for="username">Co-ordinator</label>
    </span>
    <br>
    <span class="p-float-label">
        <input type="number" pInputText id="username" />
        <label for="username">Job type</label>
    </span>
    <br>
    <span class="p-float-label">
       <input type="checkbox"  />Direct Delivery
       <input type="checkbox"  />No ID
       <input type="checkbox"  />No Fail
        <label for="username"></label>
        <div class="Save">
            <button class="Save">Save</button>
        <button id="Cancel">Cancel Order</button>
    </div>
    </span>
    </div>
</div> -->

<!-- <app-basic-form></app-basic-form> -->
<!-- <app-home></app-home> -->
<!-- <app-example-pdf-viewer></app-example-pdf-viewer> -->

 <!-- <app-import></app-import> -->
<!-- <app-file-upload></app-file-upload> -->
<!-- <app-viewer-app></app-viewer-app> -->
<!-- <app-quote-screen></app-quote-screen> -->
<app-email></app-email>